doctype html
html(lang="ru")
  include ./html/head.pug
  body
    include ./html/header.pug
    main.page
      span
        img(src="@img/bg-lemon-gate.png", alt="bg", width="150")
    include ./html/footer.pug
    <script src="js/app.min.js"></script>