doctype html
html(lang="ru")
  include ./html/head.pug
  body
    include ./html/header.pug
    main.page
      span Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corrupti?
    include ./html/footer.pug
    <script src="js/app.min.js"></script>